@model Admin.Web.ViewModels.Customers.EditViewModel

@{
    ViewBag.Title = "Edit Customer";
    Layout = "_Layout";
}

<h2>Customer: @Model.LastName, @Model.FirstName</h2>

<form action="@Url.Action("Edit", new {id = Model.Id})" method="post">
    <div class="form-group">
        <label for="">First Name</label>
        @Html.TextBoxFor(v => v.FirstName, new { @class = "form-control" } )
    </div>
    
    <div class="form-group">
        <label for="">Last Name</label>
        @Html.TextBoxFor(v => v.LastName, new { @class = "form-control" } )
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</form>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>Order Date</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr id="ordersPlaceHolder">
                <td colspan="2"> Loading...</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts {
<script type="text/javascript">
    $(document).ready(function() {
        var service = new CustomersService();
        service.getOrders(@Model.Id)
            .then(function(orders) {
                var template = $('#ordersTemplate').html();
                var html = Mustache.render(template, orders);
                $('#ordersPlaceHolder').html(html);
            });
    })
</script>

<script type="text/html" id="ordersTemplate">
    {{.}}
    <tr>
        <td>
            {{ date }}
        </td>
        <td>
            {{ total }}
        </td>
    </tr>
    {{/.}}
</script>
}
