<nav class="navbar navbar-default">
    <div class="conatiner-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="False">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Admin</a>
        </div>
        
        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Users")">Users</a></li>
                <li><a href="@Url.Action("Index", "Customers")">Customers</a></li>
                <li><a href="@Url.Action("Index", "Orders")">Orders</a></li>
                <li><a href="@Url.Action("Index", "Products")">Products</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                <li><a href="@Url.Action("Register", "Account")">Register</a></li>
            </ul>
        </div>
       
    </div>
</nav>